
@import url(https://fonts.google.com/specimen/Assistant);

body{
	font-family: "Assistant", sans-serif !important; 
	color: #255484 !important;
	background-color:#EEF3F6;
}

/*GENERAL*/
html {
    font-size: 1rem;
}

a:hover { 
	text-decoration:none !important;
}

a:focus { 
	text-decoration:none !important;
}

img:hover { 
	text-decoration:none !important;
}


button:focus { 
	outline: 0 !important; 
}

/* MEDIA QUERIES */


/* Extra small devices (portrait phones, less than 576px) */
@media all and (max-width: 576px) {
    .navbar-toggleable-sm { clear: both; }
 
    .index-lion-container {max-width:55vw; left:55px; overflow: hidden;} 
    .index-Hafsa .hide {display:block;}
    .index-Hafsa h1 { font-size: 3.5rem !important;}
    .hide h1 { font-size: 3.5rem !important; }
    .index-Ghias {display:none;}
    .index-lion-shadow-container {max-width:60vw; left:60px; overflow: hidden;}
    .index-lion-img { height: 40vh;}
    .index-lion-shadow-img {height: 40vh; }
 }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px){
    /*html {font-size: 0.6rem;}*/
    .navbar-toggleable-sm { clear: both; }
  	/*.nav-item .nav-link {font-size:1.5rem;}*/

    .index-Hafsa .hide { display:block; }
    .index-Ghias {display:none;}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px){
    /*html {font-size: 0.8rem;}
    .nav-item .nav-link {font-size:1rem;}*/
    .index-Hafsa .hide { display:block; }
    .index-Ghias {display:none;}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
   /* html {font-size: 1rem;}
    .nav-item .nav-link {font-size:1rem;}*/
    .index-Hafsa .hide { display:none; }
    .index-Ghias {display:block;}
}



/* HEADER */
.navbar-img { 
	width:6rem;
}

.navbar-nav a:link, a:visited { 
	color: #255484;
	font-size: 1.2rem;
}

.navbar-nav a:hover { 
	color:#48A2B5;
	font-size: 1.2rem;
}

.navbar-active {
	color:#48A2B5 !important;
}

#nav-icon3 {
  width: 50px;
  height: 45px;
  float: right;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon3 span{
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #255484;
  border-radius: 3px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

/* Icon 3 */

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
  top: 18px;
}

#nav-icon3 span:nth-child(4) {
  top: 36px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}


/* LANDING PAGE */
.index-Hafsa h1 {
	text-align: end;
	/*align-self: center;*/
	font-size: 4.5rem; 
	visibility: visible !important;	

	z-index: -2;
}

.index-animation { 
	animation-name: slideDown;
	-webkit-animation-name: slideDown;	

	animation-duration: 5s;	
	-webkit-animation-duration: 5s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;

}

@keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}
	80%{
		transform: translateY(1%);
	}			
	100% {
		transform: translateY(0%);
	}	
}

@-webkit-keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}
	80%{
		transform: translateY(1%);
	}			
	100% {
		transform: translateY(0%);
	}	
}
 
.index-lion {
	justify-content: center;
	/*height:655px;*/
}
 
.index-lion-container {
	justify-content: center;
	position: absolute;
	z-index: 0;
	overflow: hidden;
}

.index-lion-img { 
	height: 70vh;
	/*filter: drop-shadow(0 10px 2px #CDD1D4); */
}

.index-lion-shadow-container {
	justify-content: center;
	/*position: absolute; */
	/*overflow: hidden; */
	position: relative;
	top: 10;
	right: 5;

	z-index: -1;
}

.index-lion-shadow-img { 
	height: 70vh;
	opacity: 0.15;
	
	/*filter: drop-shadow(0 10px 2px #CDD1D4); */
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.index-Ghias h1 {
	text-align: start;
	/*align-self: center; */
	font-size: 4.5rem;

	animation-name: slideUp;
	-webkit-animation-name: slideUp;	

	animation-duration: 5s;	
	-webkit-animation-duration: 5s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;

	visibility: visible !important;	

	z-index: 2;
}


@keyframes slideUp {
	0% {
		transform: translateY(100%);
	}
	80%{
		transform: translateY(-1%);
	}			
	100% {
		transform: translateY(0%);
	}	
}

@-webkit-keyframes slideUp {
	0% {
		transform: translateY(100%);
	}
	80%{
		transform: translateY(-1%);
	}			
	100% {
		transform: translateY(0%);
	}	
}

.arrow { 
	height:3vh; 
}

.scrollcontainer { 
	animation: bounce 1.5s infinite;
	-webkit-animation: bounce 1.5s infinite;
	-moz-animation: bounce 1.5s infinite;
	-o-animation: bounce 1.5s infinite;
	padding-top: 50px;
	padding-bottom: 20px;	
 }


@keyframes bounce {
	0%, 100% {
		transform: translateY(0);
		rotate(135deg);		
	}
	50% {
		transform: translateY(-15px);
		rotate(135deg);	
	}
}

@-webkit-keyframes bounce {
	0%, 100% {
		transform: translateY(0);
		rotate(135deg);		
	}
	50% {
		transform: translateY(-15px);
		rotate(135deg);	
	}
}

 @keyframes pulse {
	0% {
		transform: scale(0.9);
		opacity: 0.7;		
	}
	50% {
		transform: scale(1);
		opacity: 1;	
	}	
	100% {
		transform: scale(0.9);
		opacity: 0.7;	
	}			
}

@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale(0.95);
		opacity: 0.7;		
	}
	50% {
		-webkit-transform: scale(1);
		opacity: 1;	
	}	
	100% {
		-webkit-transform: scale(0.95);
		opacity: 0.7;	
	}			
}

.index-intro{ 
	background-color: #D9E2E9; 
	left: -15px; 
 }


.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
}

#Contact { 
	color: #EFF0F2;
    background-color: #48A2B5;
    font-size:24px;	
}

#Contact:hover { 
    background-color: #48a2b5b5;
}

/* UX DESIGN */

#uxbutton{
 	color: #1f3160;
    border-color: #1f3160;
    font-size:24px;
}

#uxbutton:hover { 
	color: #ffff;
	background-color: #1f3160;
}


.indeximg { 
	/*width:45vw;*/
	width:100%;
}


/* BRANDING */
#brandingbutton{
    color:#5198A7; 
    border-color:#5198A7;
    font-size:24px;
}

#brandingbutton:hover { 
	color: #ffff;
	background-color:#5198A7;
}


/* PRODUCT DESIGN */
#productbutton{
 	color: #BD975A;
 	border-color:#BD975A;
    font-size:24px;
}

#productbutton:hover { 
	color: #ffff;
	background-color: #BD975A;
}


/* PHOTOGRAPHY */
#photographybutton{
 	color: #67353D;
    border-color: #67353D;
    font-size:24px;
}

#photographybutton:hover { 
	color: #ffff;
	background-color: #67353D;
}


/* MIXED MEDIA */
#mmbutton{
 	color: #3d5eac;
    border-color: #3d5eac;
    font-size:24px;
}

#mmbutton:hover { 
	color: #ffff;
	background-color: #3d5eac;
}

.me {
	width: 80%;
}

.typed-wrap h1{ 
 	font-size: 4.5rem; 
 }

/*span.typed-cursor { 
	position: relative;
    opacity: 1;
    width: 30px; 
    animation: blink .7s infinite;
    height: 6px;
    font-size: 0;
    margin-left: 2px;
    background: #255484;
    display: inline-block;
    -webkit-animation: blink 1.5s infinite;
    -moz-animation: blink 1.5s infinite;
    animation: blink 1.5s infinite;
}*/

@keyframes blink {
	50% {
		opacity:0.0;
	}
}

@-webkit-keyframes blink {
	50% {
		opacity:0.0;
	}
}

#designbutton{
 	color: #EFF0F2;
    background-color: #255484;
    border-color: #263775;
}

#designbutton:active { 
	color: #EFF0F2;
	background-color: #48A2B5;
}

.active { 
	color: #EFF0F2;
	background-color: #48A2B5 !important;
}


.footer { 
	width:48px;
}

.footer-row { 
	background-color:#D9E2E9;
}

.text {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.mmlanding {
	width:30%;
	position:absolute;
	/*left:570px;
	bottom:100px; */
	z-index:-5;
	opacity:50%;
}
 
.mmb{
	position:relative;
}

.camera {
	position:absolute;
	width:20%;
	z-index:-5;
	opacity:0.25;
	/*top:-120px;
	left:645px;*/
	/*bottom: -5.5em;
	left:40%;*/
	animation: rotate-btn 10s linear 3;
  	-webkit-animation: rotate-btn 10s linear 3;
}

@keyframes rotate-btn {
  0% {
    transform: rotate(0);
  }
  33% { 
  	transform: rotate(180deg);
  }
  66% { 
  	transform: rotate(0);
  }
  100% {
    transform: rotate(-180deg);
  }
}

.project { 
	position: relative; 
}

.text-hover { 
	position: absolute; 
	color: #EEF3F6 !important;
	top: 50%;
  	left: 50%;
  	-webkit-transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
	-webkit-transition: visibility 0s, opacity 0.5s linear;
 	transition: visibility 0s, opacity 0.5s linear;
	visibility:hidden;
	opacity:0;
	/*transition: opacity .6s visibility .6s; */
	
 }

 .project:hover .text-hover{ 		
 	visibility: visible;
 	opacity: 1;

 }

 .fancybox-content {
}

  .project:hover .overlay{ 		
 	visibility: visible;
 	opacity: 1;
 	-webkit-transition: visibility 0s, opacity 0.5s linear;
 	transition: visibility 0s, opacity 0.5s linear;


 }
.show_overlay { 
	position: relative; 
}

 .overlay { 
 	position: absolute;
 	background: #255484bf;
  	top: 0;
    right: 0;
    left: 0;
    bottom: 0;
 	visibility:hidden;
 }

 .carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%255484' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%#255484' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}