
@import url('https://fonts.googleapis.com/css?family=Nunito');

body{
	font-family: "Nunito", sans-serif !important; 
	color: #255484 !important;
	padding: 25px;
	/*background-color: #EEF3F6; */
	background-image: linear-gradient(#EEF3F6, #F5DDDD ); /* #E4AD9B #F6BE60af #EFA998*/
}

/* No media query since this is the default in Bootstrap */
html {
    font-size: 1rem;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 576px) {
    html {
        font-size: 0.4rem;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    html {
        font-size: 0.6rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    html {
        font-size: 0.8rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    html {
        font-size: 1rem;
    }
}

/* Extra large devices (large desktops, 1200px and up)
// (you don't need this one unless you want something different from LG)
@media (min-width: 1200px) {
    html {
        font-size: 1.6rem;
    }
} */

/* HEADER */
#navright a { 
	display: inline-grid;
 	text-decoration: none; 
 	padding-left: 20px;
}

button:focus { 
	outline: 0 !important; 
}

.purplelion { 
	width:20%;
}

img#logohome {
	width:20%;
}

.navbar-nav a:link, a:visited { 
	color: #255484;
}

.navbar-nav a:hover { 
	color: #255484;
	color:#48A2B5;
}

.navbar-active {
	color:#48A2B5 !important;
}
.custom-toggler .navbar-toggler-icon {
	background-image: url('https://mdbootstrap.com/img/svg/hamburger7.svg?color=4C557F');
	background-size:150% 150%;
 }

/* LANDING PAGE */
 


.landing_page_Hafsa h1 {
	text-align: end;
	/*align-self: center;*/
	font-size: 5rem; 

	animation-name: slideDown;
	-webkit-animation-name: slideDown;	

	animation-duration: 5s;	
	-webkit-animation-duration: 5s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;	

	visibility: visible !important;	

	z-index: -2;
}

@keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}
	80%{
		transform: translateY(1%);
	}			
	100% {
		transform: translateY(0%);
	}	
}

@-webkit-keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}
	80%{
		transform: translateY(1%);
	}			
	100% {
		transform: translateY(0%);
	}	
}
 

.landing_page_lion {
	justify-content: center;
	/*height:655px;*/
}
 
.logo_lion_container {
	justify-content: center;
	position: absolute;
	z-index: 0;
}

.logo_lion_image { 
	height: 630px;
	/*filter: drop-shadow(0 10px 2px #CDD1D4); */
}

.logo_lion_shadow_container {
	justify-content: center;
	/*position: absolute; */
	position: relative;
	top: 10;
	right: 5;

	z-index: -1;
}

.logo_lion_shadow { 
	height: 630px;
	opacity: 0.15;
	/*filter: drop-shadow(0 10px 2px #CDD1D4); */
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.landing_page_Ghias h1 {
	text-align: start;
	/*align-self: center; */
	font-size: 5rem;

	animation-name: slideUp;
	-webkit-animation-name: slideUp;	

	animation-duration: 5s;	
	-webkit-animation-duration: 5s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;

	visibility: visible !important;	

	z-index: 2;
}


@keyframes slideUp {
	0% {
		transform: translateY(100%);
	}
	80%{
		transform: translateY(-1%);
	}			
	100% {
		transform: translateY(0%);
	}	
}

@-webkit-keyframes slideUp {
	0% {
		transform: translateY(100%);
	}
	80%{
		transform: translateY(-1%);
	}			
	100% {
		transform: translateY(0%);
	}	
}

.scrollimage { 
	width:2%;
	padding-top: 20px;
	padding-bottom: 20px;
}

.scrollcontainer { 
	padding-top: 30px;
	padding-bottom:30px;

	/*animation-name: pulse;
	-webkit-animation-name: pulse;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite; */
 }

.scrollcontainer:hover { 
	/*animation-name: pulse;
	-webkit-animation-name: pulse;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite; */

	animation: bounce 1s infinite;
	-webkit-animation: bounce 1s infinite;
	-moz-animation: bounce 1s infinite;
	-o-animation: bounce 1s infinite;
 }


@keyframes bounce {
	0%, 100% {
		transform: translateY(0);
		rotate(135deg);		
	}
	50% {
		transform: translateY(-10px);
		rotate(135deg);	
	}
}

@-webkit-keyframes bounce {
	0%, 100% {
		transform: translateY(0);
		rotate(135deg);		
	}
	50% {
		transform: translateY(-10px);
		rotate(135deg);	
	}
}

 @keyframes pulse {
	0% {
		transform: scale(0.9);
		opacity: 0.7;		
	}
	50% {
		transform: scale(1);
		opacity: 1;	
	}	
	100% {
		transform: scale(0.9);
		opacity: 0.7;	
	}			
}

@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale(0.95);
		opacity: 0.7;		
	}
	50% {
		-webkit-transform: scale(1);
		opacity: 1;	
	}	
	100% {
		-webkit-transform: scale(0.95);
		opacity: 0.7;	
	}			
}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
}

/* UX DESIGN */
.UXtext{ 
 	color: #662362;
	text-align: right;
	align-self: center;
 }

#uxbutton{
 	color: #EFF0F2;
    background-color: #662362;
    border-color: #662362;
}

#uxbutton:hover { 
	color: #EFF0F2;
	background:#6f1965b5;
}


.uximg { 
	width:90%;
}


/* BRANDING */
.brandingtext { 
	font-family:Nunito;
	color: #5198A7;
	text-align: left;
	align-self: center;
}

#brandingbutton{
 	color: #EFF0F2;
    background-color: #5198A7;
    border-color: #5198A7;
}

#brandingbutton:hover { 
	color: #EFF0F2;
	background: #5198a7ba;
}

.MichiganMovement-img { 
	width:80%;
}

/* PRODUCT DESIGN */
.producttext { 
 	color: #BD975A;
	text-align: right;
	align-self: center;
}

#productbutton{
 	color: #EFF0F2;
    background-color: #BD975A;
    border-color: #BD975A;
}

#productbutton:hover { 
	color: #EFF0F2;
	background: #BD975Aba;
}


.bird-img { 
	width:90%; 
}


/* PHOTOGRAPHY */
.photographytext { 
 	color: #67353D;
	text-align: left;
	align-self: center;
 }

#photographybutton{
 	color: #EFF0F2;
    background-color: #67353D;
    border-color: #67353D;
}

#photographybutton:hover { 
	color: #EFF0F2;
	background: #67353dc9;
}


.portrait-img {
	width:90%;
 }

/* MIXED MEDIA */

.mmtext { 
 	color: #3D5EAC;
	text-align: right;
	align-self: center;
 }

#mmbutton{
 	color: #EFF0F2;
    background-color: #3d5eac;
    border-color: #3D5EAC;
}

#mmbutton:hover { 
	color: #EFF0F2;
	background: #3d5eacb9;
}


.SummerTimeBlues-img { 
	width: 90%;
}


.me {
	width: 70%;
}

  

.typed-wrap h1{ 
 	font-size: 5rem; 
 }

/*span.typed-cursor { 
	position: relative;
    opacity: 1;
    width: 30px; 
    animation: blink .7s infinite;
    height: 6px;
    font-size: 0;
    margin-left: 2px;
    background: #255484;
    display: inline-block;
    -webkit-animation: blink 1.5s infinite;
    -moz-animation: blink 1.5s infinite;
    animation: blink 1.5s infinite;
}*/

@keyframes blink {
	50% {
		opacity:0.0;
	}
}

@-webkit-keyframes blink {
	50% {
		opacity:0.0;
	}
}

#designbutton{
 	color: #EFF0F2;
    background-color: #255484;
    border-color: #263775;
}

#designbutton:active { 
	color: #EFF0F2;
	background-color: #48A2B5;
}

.active { 
	color: #EFF0F2;
	background-color: #48A2B5 !important;
}


.gallery { 
height:auto; }
/*.gallery img{ 
	cursor:pointer;
	position:relative;
	text-align: center;
	overflow:hidden;
	background-size: cover;
}

.gallery:hover { 
	opacity: 0.80;
	transform: scale(1.1);
	color:#ffffff26; 
}

.softeffect:before, .softeffect p {
	opacity:0;
 } 
 */


#box-aperture {
  width: 18vmin;
  height: 18vmin;
  border-radius: 50%;
  border: 5px solid #255484;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.box_inner {
  background: #255484;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

}

.box_aperture {
  position: relative;
  width: 100%;
  height: 100%;
  animation: aperture_zoom 2s linear infinite alternate;
}

.aperture_piece {
  width: 20%;
  height: 20%;
  background: #EEF3F6;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.aperture_piece:after {
  content: "";
  position: absolute;
  right: 0;
  width: 15%;
  height: 1000%;
  background-color: #EEF3F6;
  animation: aperture_line_zoom 2s linear infinite alternate;
  transform-origin: right top;
}
.aperture_piece:nth-child(1) {
  transform: rotate(60deg) translateX(37%);
}
.aperture_piece:nth-child(2) {
  transform: rotate(120deg) translateX(37%);
}
.aperture_piece:nth-child(3) {
  transform: rotate(180deg) translateX(37%);
}
.aperture_piece:nth-child(4) {
  transform: rotate(240deg) translateX(37%);
}
.aperture_piece:nth-child(5) {
  transform: rotate(300deg) translateX(37%);
}
.aperture_piece:nth-child(6) {
  transform: rotate(360deg) translateX(37%);
}

@keyframes aperture_zoom {
  from {
    transform: scale(0.7) rotate(-60deg);
  }
  50% {
    transform: scale(1) rotate(0);
  }
  to {
    transform: scale(1.9) rotate(60deg);
  }
}
@keyframes aperture_line_zoom {
  from {
    transform: scale(1.3);
  }
  50% {
    transform: scale(1);
  }
  to {
    transform: scale(0.5);
  }
}
.box_inspired {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 1rem;
  color: #255484;
}

.footer { 
	width:5%;
}

.footer-text p{
	font-size: 12px;
}

.text {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.mmlanding {
	width:30%;
	position:absolute;
	left:570px;
	bottom:100px; 
	z-index:-5;
	opacity:50%;
}
 
.mmb{
	position:relative;
}

.camera {
	position:absolute;
	width:20%;
	z-index:-5;
	opacity:0.25;
	top:-120px;
	left:645px;
	animation: rotate-btn 10s linear 3;
  	-webkit-animation: rotate-btn 10s linear 3;
}

@keyframes rotate-btn {
  0% {
    transform: rotate(0);
  }
  33% { 
  	transform: rotate(180deg);
  }
  66% { 
  	transform: rotate(0);
  }
  100% {
    transform: rotate(-180deg);
  }
}

.project { 
	position: relative; 
}

.text-hover { 
	position: absolute; 
	color: #EEF3F6 !important;
	top: 50%;
  	left: 50%;
  	-webkit-transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
	-webkit-transition: visibility 0s, opacity 0.5s linear;
 	transition: visibility 0s, opacity 0.5s linear;
	visibility:hidden;
	opacity:0;
	/*transition: opacity .6s visibility .6s; */
	
 }

 .project:hover .text-hover{ 		
 	visibility: visible;
 	opacity: 1;

 }

 .fancybox-content {
}

  .project:hover .overlay{ 		
 	visibility: visible;
 	opacity: 1;
 	-webkit-transition: visibility 0s, opacity 0.5s linear;
 	transition: visibility 0s, opacity 0.5s linear;


 }
.show_overlay { 
	position: relative; 
}

 .overlay { 
 	position: absolute;
 	background: #255484bf;
  	top: 0;
    right: 0;
    left: 0;
    bottom: 0;
 	visibility:hidden;
 }