
@import url(https://fonts.google.com/specimen/Assistant);
@import url(https://fonts.google.com/specimen/Playfair+Display);

body{
	font-family: "Assistant", sans-serif !important; 
	color: #255484 !important;
	background-color:#EEF3F6;
	overflow-x: hidden;
}

.Playfair-Display {
	font-family: "Playfair Display", sans-serif !important; 
}

/*GENERAL*/
html {
    font-size: 1rem;
    line-height:2 !important;
}

p{ 
	font-size:20px;
}

li{ 
	font-size:18px;
}

a:hover { 
	text-decoration:none !important;
}

a:focus { 
	text-decoration:none !important;
}


img:hover { 
	text-decoration:none !important;
}


button:focus { 
	outline: 0 !important; 
}

/* img { // To remove option to save pictures, but it's disabling the slideshow option on photography page
    pointer-events: none;
} */

/* MEDIA QUERIES */


/* Extra small devices (portrait phones, less than 576px) */
@media all and (max-width: 576px) {
    .navbar-toggleable-sm { clear: both; }
    .index-lion-container {width:50vw; left:70px; overflow:hidden;} /* max-width:65vw; */
    .index-Hafsa .hide {display:block;}
    .index-Hafsa h1 { font-size: 3.5rem !important;}
    .hide h1 { font-size: 3.5rem !important; }
    .index-Ghias {display:none;}
    .index-lion-shadow-container {overflow:hidden;}
    .index-lion-img { height: 30vh;}
    .index-lion-shadow-img {opacity: 0 !important; height: 40vh;}
    .typed-wrap h1{ font-size: 3.5rem !important;}
    .about h1 { font-size: 2.2rem !important;}
    .about h2 { font-size: 1.5rem !important; line-height:1.5;}
    .about h4 { font-size: 1.2rem !important; line-height:1.5;}
    .padding-left { padding-left:3rem !important;}
    .padding-right { padding-right:3rem !important;}
 }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px){
    /*html {font-size: 0.6rem;}*/
    .navbar-toggleable-sm { clear: both; }
  	/*.nav-item .nav-link {font-size:1.5rem;}*/
    .index-Hafsa .hide { display:block; }
    .index-Ghias {display:none;}
    .padding-left { padding-left:3rem !important;}
    .padding-right { padding-right:3rem !important;}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px){
    /*html {font-size: 0.8rem;}
    .nav-item .nav-link {font-size:1rem;}*/
    .index-Hafsa .hide { display:block; }
    .index-Ghias {display:none;}
    .padding-left { padding-left:12rem !important;}
    .padding-right { padding-right:12rem !important;}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
   /* html {font-size: 1rem;}
    .nav-item .nav-link {font-size:1rem;}*/
    .index-Hafsa .hide { display:none; }
    .index-Ghias {display:block;}
    .padding-left { padding-left:15rem !important;}
    .padding-right { padding-right:15rem !important;}
}

.padding-left {
}

.padding-right {
}

/* HEADER */
.navbar-img { 
	width:6rem;
}

.nav-link {
	display:inline-block !important;
}


.navbar-nav a:link, a:visited { 
	color: #255484;
	font-size: 1.2rem;
}

.navbar-nav a:hover { 
	color:#48A2B5;
	font-size: 1.2rem;
	border-bottom: 2px solid #48A2B5 !important;
}

.navbar-active {
	color:#48A2B5 !important;
	border-bottom: 2px solid #48A2B5 !important;
}

/* Hamburger Menu Animation*/
#nav-icon3 {
  width: 50px;
  height: 45px;
  float: right;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon3 span{
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #255484;
  border-radius: 3px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}


#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
  top: 18px;
}

#nav-icon3 span:nth-child(4) {
  top: 36px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}


/* LANDING PAGE */
.index-Hafsa h1 {
	text-align: end;
	/*align-self: center;*/
	font-size: 4.5rem; 
	visibility: visible !important;	
	z-index: -2;
}

.index-animation { 
	animation-name: slideDown;
	-webkit-animation-name: slideDown;	

	animation-duration: 5s;	
	-webkit-animation-duration: 5s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;

}

@keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}
	80%{
		transform: translateY(1%);
	}			
	100% {
		transform: translateY(0%);
	}	
}

@-webkit-keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}
	80%{
		transform: translateY(1%);
	}			
	100% {
		transform: translateY(0%);
	}	
}
 
.index-lion {
	justify-content: center;
	/*height:655px;*/
}
 
.index-lion-container {
	justify-content: center;
	position: absolute;
	z-index: 0;
	overflow: hidden;
}

.index-lion-img { 
	height: 70vh;
	/*filter: drop-shadow(0 10px 2px #CDD1D4); */
}

.index-lion-shadow-container {
	justify-content: center;
	/*position: absolute; */
	/*overflow: hidden; */
	position: relative;
	top: 10;
	right: 5;

	z-index: -1;
}

.index-lion-shadow-img { 
	height: 70vh;
	opacity: 0.15;
	
	/*filter: drop-shadow(0 10px 2px #CDD1D4); */
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.index-Ghias h1 {
	text-align: start;
	/*align-self: center; */
	font-size: 4.5rem;

	animation-name: slideUp;
	-webkit-animation-name: slideUp;	

	animation-duration: 5s;	
	-webkit-animation-duration: 5s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;

	visibility: visible !important;	

	z-index: 2;
}


@keyframes slideUp {
	0% {
		transform: translateY(100%);
	}
	80%{
		transform: translateY(-1%);
	}			
	100% {
		transform: translateY(0%);
	}	
}

@-webkit-keyframes slideUp {
	0% {
		transform: translateY(100%);
	}
	80%{
		transform: translateY(-1%);
	}			
	100% {
		transform: translateY(0%);
	}	
}

.arrow { 
	height:3vh; 
}

.scrollcontainer { 
	animation: bounce 1.5s infinite;
	-webkit-animation: bounce 1.5s infinite;
	-moz-animation: bounce 1.5s infinite;
	-o-animation: bounce 1.5s infinite;
	padding-top: 50px;
	padding-bottom: 20px;	
 }


@keyframes bounce {
	0%, 100% {
		transform: translateY(0);
		rotate(135deg);		
	}
	50% {
		transform: translateY(-15px);
		rotate(135deg);	
	}
}

@-webkit-keyframes bounce {
	0%, 100% {
		transform: translateY(0);
		rotate(135deg);		
	}
	50% {
		transform: translateY(-15px);
		rotate(135deg);	
	}
}

 /*@keyframes pulse {
	0% {
		transform: scale(0.9);
		opacity: 0.7;		
	}
	50% {
		transform: scale(1);
		opacity: 1;	
	}	
	100% {
		transform: scale(0.9);
		opacity: 0.7;	
	}			
}

@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale(0.95);
		opacity: 0.7;		
	}
	50% {
		-webkit-transform: scale(1);
		opacity: 1;	
	}	
	100% {
		-webkit-transform: scale(0.95);
		opacity: 0.7;	
	}			
} */

.index-intro{ 
	background-color: #D9DFEF; 
	left: -15px; 
 }


.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
}

#Contact { 
	color: #fff;
    background-color: #48A2B5;
    font-size:18px;	
}

#Contact:hover { 
	color: #48A2B5;
    background-color: #fff;
    border-color:#5198A7;
}

#Secondary { 
	color: #48A2B5;
    background-color: #fff;
    border-color:#5198A7;
    font-size:16px;	
}

#Secondary:hover { 
	color: #fff;
    background-color: #48A2B5;
}

/* UX DESIGN */

#uxbutton{
 	color: #C69E2E;
    border-color: #C69E2E;
    font-size:18px;
}

#uxbutton:hover { 
	color: #ffff;
	background-color: #C69E2E;
}


.indeximg { 
	/*width:45vw;*/
	width:100%;
}


/* BRANDING */
#brandingbutton{
    color:#5198A7; 
    border-color:#5198A7;
    font-size:18px;
}

#brandingbutton:hover { 
	color: #ffff;
	background-color:#5198A7;
}


/* PRODUCT DESIGN */
#productbutton{
 	color: #BD975A;
 	border-color:#BD975A;
    font-size:18px;
}

#productbutton:hover { 
	color: #ffff;
	background-color: #BD975A;
}


/* PHOTOGRAPHY */
#photographybutton{
 	color: #67353D;
    border-color: #67353D;
    font-size:18px;
}

#photographybutton:hover { 
	color: #ffff;
	background-color: #67353D;
}


/* MIXED MEDIA */
#mmbutton{
 	color: #3d5eac;
    border-color: #3d5eac;
    font-size:18px;
}

#mmbutton:hover { 
	color: #ffff;
	background-color: #3d5eac;
}

.me {
	width: 80%;
}

.typed-wrap h1{

 	font-size: 4.5rem; 
 }

/*span.typed-cursor { 
	position: relative;
    opacity: 1;
    width: 30px; 
    animation: blink .7s infinite;
    height: 6px;
    font-size: 0;
    margin-left: 2px;
    background: #255484;
    display: inline-block;
    -webkit-animation: blink 1.5s infinite;
    -moz-animation: blink 1.5s infinite;
    animation: blink 1.5s infinite;
}*/

@keyframes blink {
	50% {
		opacity:0.0;
	}
}

@-webkit-keyframes blink {
	50% {
		opacity:0.0;
	}
}

.horizontal-scroll{
	display: inline-block; 
 	overflow-x:auto !important;
 	white-space: nowrap !important;
 	-webkit-overflow-scrolling: touch;
}

.horizontal-scroll::-webkit-scrollbar {
  display: none; 
}

.modalx{
	background:#00000000 !important;
	width:99vw;
	padding:-100px !important;
}

.modalx .fancybox-close-small{
	position:fixed !important;
	color:#fff !important;
}

.fancybox-content {
	padding: 0px !important;
}

#designbutton{
 	font-size: 20px;
 	color: #255484;
 	border-radius: 0 !important;    
}

#designbutton.btn:hover {
	color: #48A2B5 !important;
	border-bottom: 2px solid #48A2B5;
}

.active { 
	color: #48A2B5 !important;
	border-bottom: 2px solid #48A2B5 !important;
}

.footer { 
	width:48px;
}

.footer-row { 
	background-color:#D9DFEF;
}

.text {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.mmlanding {
	width:20%;
	position:absolute;
	/*left:570px;
	bottom:100px; */
	z-index:-5;
	opacity:50%;
}
 
.mmb{
	position:relative;
}

.camera {
	position:absolute;
	width:15%;
	z-index:-5;
	opacity:0.25;
	/*top:-120px;
	left:645px;*/
	/*bottom: -5.5em;
	left:40%;*/
	animation: rotate-btn 10s linear 3;
  	-webkit-animation: rotate-btn 10s linear 3;
}

@keyframes rotate-btn {
  0% {
    transform: rotate(0);
  }
  33% { 
  	transform: rotate(180deg);
  }
  66% { 
  	transform: rotate(0);
  }
  100% {
    transform: rotate(-180deg);
  }
}

.project { 
	position: relative; 
}

/* DESIGN */
.text-hover { 
	position: absolute; 
	color: #EEF3F6 !important;
	top: 50%;
  	left: 50%;
  	-webkit-transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
	-webkit-transition: visibility 0s, opacity 0.5s linear;
 	transition: visibility 0s, opacity 0.5s linear;
	visibility:visible;
	opacity:1;
	/*transition: opacity .6s visibility .6s; */
	
 }

 .project:hover .text-hover{ 		
 	visibility:hidden;
 	opacity: 0;

 }

 .project:hover .overlay{ 		
 	visibility: hidden;
 	opacity: 0;
 	-webkit-transition: visibility 0s, opacity 0.5s linear;
 	transition: visibility 0s, opacity 0.5s linear;

 }
.show_overlay { 
	position: relative; 
}

 .overlay { 
 	position: absolute;
 	background: #255484af;
  	top: 0;
    right: 0;
    left: 0;
    bottom: 0;
 	visibility:visible;
 }

/*EXPLORATIONS*/
.text-hover-inverse { 
	position: absolute; 
	color: #EEF3F6 !important;
	top: 50%;
  	left: 50%;
  	-webkit-transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
	-webkit-transition: visibility 0s, opacity 0.5s linear;
 	transition: visibility 0s, opacity 0.5s linear;
	visibility:hidden;
	opacity:0;
	/*transition: opacity .6s visibility .6s; */
	
 }

 .projectE:hover .text-hover-inverse{ 		
 	visibility:visible;
 	opacity: 1;

 }

 .projectE:hover .overlayE{ 		
 	visibility: visible;
 	opacity: 1;
 	-webkit-transition: visibility 0s, opacity 0.5s linear;
 	transition: visibility 0s, opacity 0.5s linear;

 }

 .overlayE { 
 	position: absolute;
 	background: #255484af;
  	top: 0;
    right: 0;
    left: 0;
    bottom: 0;
 	visibility:hidden;
 }

 .carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%255484' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%255484' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

/*
==============================================
fadeIn
==============================================
*/

.fadeIn{
	animation-name: fadeIn;
	-webkit-animation-name: fadeIn;	

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;		

	visibility: visible !important;	
}

@keyframes fadeIn {
	0% {
		transform: scale(0);
		opacity: 0.0;		
	}
	60% {
		transform: scale(1.1);	
	}
	80% {
		transform: scale(0.9);
		opacity: 1;	
	}	
	100% {
		transform: scale(1);
		opacity: 1;	
	}		
}

@-webkit-keyframes fadeIn {
	0% {
		-webkit-transform: scale(0);
		opacity: 0.0;		
	}
	60% {
		-webkit-transform: scale(1.1);
	}
	80% {
		-webkit-transform: scale(0.9);
		opacity: 1;	
	}	
	100% {
		-webkit-transform: scale(1);
		opacity: 1;	
	}		
}

.underline{
background-image: -webkit-linear-gradient(30deg, #48a2b5cc 0%, #fee149 100%);
background-image: -o-linear-gradient(30deg, #48a2b5cc 0%, #fee149 100%);
background-image: linear-gradient(120deg, #48a2b5cc 0%, #fee149 100%); /*#48a2b5b5 #fa709a*/
background-repeat: no-repeat; 
background-size: 100% 0.2em; 
background-position: 100% 85%; 
}


/*.underline:hover{
    transition: background-size 0.25s ease-in;
    background-size: 100% 88%;
}*/

.fader {
	opacity:1;
   -webkit-transition: opacity 1s;
   -moz-transition: opacity 1s;
   -o-transition: opacity 1s;
   transition: opacity 1s;
   
}

.hidden {
 display:none;
}
/* Sweep To Right */
/*
.hvr-sweep-to-right {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
   position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: -webkit-linear-gradient(30deg, #48a2b5cc 0%, #fee149 100%);
background-image: -o-linear-gradient(30deg, #48a2b5cc 0%, #fee149 100%);
background-image: linear-gradient(120deg, #48a2b5cc 0%, #fee149 100%);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  background-repeat: no-repeat; 
background-size: 100% 0.2em; 
background-position: 100% 85%; 
}
 
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}*/
